@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100;0,600;1,400&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #863A6F;
    --cor-terciaria: #FFC18E;
    --cor-hover: #C060A1;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

span {
    color: var(--cor-terciaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 100px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

/* Faz o container principal organizar os itens em linha */
.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 10%; /* Dá um espaço nas laterais */
    gap: 80px; /* Espaço entre o texto e a imagem */
}

/* Define que o texto ocupa uma parte da tela */
.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}


.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
   font-family: var(--fonte-primaria);
   font-weight: 400;
   font-size: 1.25rem;
}   

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 80%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: white;
    font-family: var(--fonte-secundaria);
    transition: 1s all;
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
    transition: 1s all;
    cursor: pointer;
    border-radius: 5px;
    transform: scale(0.9);
}


.titulo_contato {
    font-size: 2rem;
    margin: 3em;
    height: 15px;
    font-family: var(--fonte-primaria);
}

.campo label {
    margin-bottom: 0.2em;
}

.campo {
    margin: 10px;
    margin-bottom: 1em;
    font-family: var(--fonte-secundaria);
}

input, textarea, button {
    font-family: var(--fonte-secundaria);
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    width: 95%;
}

.campo input[type="text"], .campo input[type="email"], .campo textarea {
    outline: 0;
    padding: 0.2em;
    border: 1px solid;
    display: block;
}

.enviar {
    margin: 10px;
    width: 92%;
    padding: 20px 20px;
    background-color: var(--cor-primaria);
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    border: 2px solid var(--cor-terciaria);
}

.enviar:hover {
    background-color: var(--cor-hover);
    transform: scale(0.9);
}

.imagem {
    width: 300px; /* Tamanho ajustado para não esconder o sistema */
    height: auto;
    border-radius: 40px; /* O segredo das pontas bem redondas */
    border: 4px solid #22D4FD; 
    box-shadow: 0 0 20px rgba(34, 212, 253, 0.4); /* Um brilho extra para destacar */
}

.rodape {
    padding: 1.5em;
    color: #000000;
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 0.625rem;
    font-weight: 400;
    width: auto;
}

@media (min-width: 250px ) and (max-width: 1200px) {
    * {
        margin: 0;
        padding: 0;
    }

    .cabecalho {
        padding: 10%;
        margin: 5px;
    }

    .cabecalho__menu {
        justify-content: center;
        gap: 10%;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 1%;
    }
    
    .apresentacao__conteudo {
        width: 98%;
        
    }

    .apresentacao__conteudo__titulo {
       margin: 5px;
    }

    .apresentacao__conteudo__texto {
       margin: 18px;
    }

    .titulo_contato {
        width: 90%;
        margin-top: 5px;
        margin-left: 30px;
    }

    .imagem {
        width: 40%;
        border: 10px solid red; /* Só para testar se o navegador lê a mudança */
}
    }

    input, textarea, button {
        width: 95%;
        padding: 20px;
        margin-right: 50%;
        height: 20%;
    }

    .campo {
        width: 80%;
        margin: 5%;
        padding: 5px;
    }   

    .enviar {
        margin: 25px;
        width: 77%;
        padding: 15px 15px;
    }
   
    .rodape {
        width: auto;
        padding: 20px;
    }

}








